includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6

    paths:
        - src
        - config

    treatPhpDocTypesAsCertain: false
    checkModelProperties: true
    checkOctaneCompatibility: true
    noUnnecessaryCollectionCall: true
    checkNullables: true
