parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: config/eloquent-viewable.php

		-
			message: '#^Trait CyrildeWit\\EloquentViewable\\InteractsWithViews is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/InteractsWithViews.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, \$this\(CyrildeWit\\EloquentViewable\\View\)\>\) of method CyrildeWit\\EloquentViewable\\View\:\:viewable\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphTo\<Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Model\>\) of method CyrildeWit\\EloquentViewable\\Contracts\\View\:\:viewable\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/View.php

		-
			message: '#^Access to an undefined property CyrildeWit\\EloquentViewable\\Contracts\\View\:\:\$exists\.$#'
			identifier: property.notFound
			count: 1
			path: src/Views.php

		-
			message: '#^Call to an undefined method CyrildeWit\\EloquentViewable\\Contracts\\View\:\:create\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Views.php

		-
			message: '#^Call to an undefined method CyrildeWit\\EloquentViewable\\Contracts\\View\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Views.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:collection\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Views.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:withinPeriod\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Views.php
