<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        executionOrder="random"
        failOnWarning="true"
        failOnRisky="true"
        failOnEmptyTestSuite="true"
        beStrictAboutOutputDuringTests="true"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Eloquent Viewable Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>

