name: run-tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [7.4, 8.0, 8.1]
        laravel: [^6.0, ^7.0, ^8.0, ^9.0]
        stability: [prefer-lowest, prefer-stable]
        include:
          - laravel: ^6.0
            testbench: ^4.9.1
          - laravel: ^7.0
            testbench: ^5.9.1
          - laravel: ^8.0
            testbench: ^6.6.1
          - laravel: ^9.0
            testbench: ^7.0
        exclude:
          - php: 7.4
            laravel: ^9.0
          - php: 8.1
            laravel: ^6.0
          - php: 8.1
            laravel: ^7.0

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring
          coverage: xdebug

      - name: Setup Memcached
        uses: niden/actions-memcached@v7

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Install minimum required Mockery version on PHP 8 with prefer lowest stability
        if: ${{ matrix.php == '8.0' && matrix.stability == 'prefer-lowest' && (matrix.laravel == '^6.0' || matrix.laravel == '^7.0') }}
        run: |
          composer require "mockery/mockery:^1.4.2" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Install minimum required packages on PHP 8.1 with prefer lowest stability
        if: ${{ matrix.php == '8.1' && matrix.stability == 'prefer-lowest' && matrix.laravel == '^8.0' }}
        run: |
          composer require "laravel/framework:^8.62.0" --no-interaction --no-update
          composer require "laravel/legacy-factories:^1.1.1" --no-interaction --no-update
          composer require "nesbot/carbon:^2.51.0" --no-interaction --no-update
          composer require "symfony/http-foundation:^5.3.7" --no-interaction --no-update
          composer require "symfony/console:^5.3.7" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/phpunit --verbose

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./build/logs/clover.xml
