name: tests

on: [push, pull_request]

jobs:
  tests:

    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: forge
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      fail-fast: true
      matrix:
        php: [7.2, 7.3, 7.4]
        laravel: [5.8.*, ^6.0]
        stability: [prefer-lowest, prefer-stable]
        # include:
        #   - laravel: 7.*
        #     testbench: 5.*
        #   - laravel: 6.*
        #     testbench: 4.*
        #   - laravel: 5.8.*
        #     testbench: 3.8.*

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - S${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: none

      - name: Setup Memcached
        uses: niden/actions-memcached@v7

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit --verbose
        env:
          CI: ${{ secrets.CI }}
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
