name: run-tests

on: [push]

jobs:
  tests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [7.0, 7.1, 7.2, 7.3, 7.4]
        laravel: [5.5.*, 5.6.*, 5.7.*, 5.8.*, ^6.0, ^7.0]
        stability: [prefer-lowest, prefer-stable]
        include:
          - laravel: 5.5.*
            testbench: 3.5.*
          - laravel: 5.6.*
            testbench: 3.6.*
          - laravel: 5.7.*
            testbench: 3.7.*
          - laravel: 5.8.*
            testbench: 3.8.*
          - laravel: ^6.0
            testbench: ^4.0
          - laravel: ^7.0
            testbench: ^5.0
        exclude:
          - laravel: 5.6.*
            php: 7.0
          - laravel: 5.7.*
            php: 7.0
          - laravel: 5.8.*
            php: 7.0
          - laravel: 5.8.*
            php: 7.1
          - laravel: ^6.0
            php: 7.0
          - laravel: ^7.0
            php: 7.1

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: xdebug

      - name: Setup Memcached
        uses: niden/actions-memcached@v7

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "symfony/console:^4.3.4" "fzaninotto/faker:^1.9.1" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit --verbose

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./tmp/clover.xml
